<h1 align="center">Student Performance Prediction

In [16]:
import matplotlib.pyplot as plt
import pandas as pd 
import morethemes as mt
mt.set_theme("ft")
import warnings
warnings.filterwarnings("ignore")

In [17]:
import dask.dataframe as dd
data = dd.read_csv("Student.csv")
data.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [18]:
data.isnull().sum().compute()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [21]:
duplicates = data[data.duplicated().compute()]

AttributeError: 'DataFrame' object has no attribute 'duplicated'