## 1 The Data

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("samruddhi4040/online-sales-data")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.10), please consider upgrading to the latest version (0.3.12).
Path to dataset files: C:\Users\KOVVO\.cache\kagglehub\datasets\samruddhi4040\online-sales-data\versions\1

In [3]:
# import some necessary libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px

In [10]:
#read the Details dataset
data = pd.read_csv("Details.csv")
data

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card
...,...,...,...,...,...,...,...
1495,B-25700,7,-3,2,Clothing,Hankerchief,COD
1496,B-25757,3151,-35,7,Clothing,Trousers,EMI
1497,B-25973,4141,1698,13,Electronics,Printers,COD
1498,B-25698,7,-2,1,Clothing,Hankerchief,COD
1499,B-25993,4363,305,5,Furniture,Tables,EMI

In [11]:
# check the datatypes of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      1500 non-null   object
 1   Amount        1500 non-null   int64
 2   Profit        1500 non-null   int64
 3   Quantity      1500 non-null   int64
 4   Category      1500 non-null   object
 5   Sub-Category  1500 non-null   object
 6   PaymentMode   1500 non-null   object
dtypes: int64(3), object(4)
memory usage: 82.2+ KB

In [12]:
# check the missing values
data.isnull().sum()*100

Order ID        0
Amount          0
Profit          0
Quantity        0
Category        0
Sub-Category    0
PaymentMode     0
dtype: int64

In [13]:
# check the statistics of the data 
data.describe()

            Amount      Profit     Quantity
count  1500.000000  1500.00000  1500.000000
mean    291.847333    24.64200     3.743333
std     461.924620   168.55881     2.184942
min       4.000000 -1981.00000     1.000000
25%      47.750000   -12.00000     2.000000
50%     122.000000     8.00000     3.000000
75%     326.250000    38.00000     5.000000
max    5729.000000  1864.00000    14.000000

---

### üìä **Revenue & Profit**

1. What is the total **revenue** (`Amount.sum()`)?
2. What is the total **profit** (`Profit.sum()`)?
3. What is the **average profit margin** per order?
4. Which **orders** had the highest revenue and profit?

---

***1. What is the total **revenue** (`Amount.sum()`)?***

In [26]:
total_revenue =data["Amount"].sum()
print("Total revenue is ",total_revenue)

Total revenue is  437771

***2. What is the total **profit** (`Profit.sum()`)?***

In [28]:
total_profit =data["Profit"].sum()
print("Total revenue is ",total_profit)

Total revenue is  36963

***3. What is the **average profit margin** per order?***

In [29]:
# Avoid division by zero
data = data[data["Amount"] != 0]

# Calculate profit margin per order
data["Profit_Margin"] = data["Profit"] / data["Amount"]

# Average profit margin
avg_profit_margin = data["Profit_Margin"].mean()

print("Average profit margin per order:", round(avg_profit_margin * 100, 2), "%")

Average profit margin per order: 1.92 %

***4. Which **orders** had the highest revenue and profit?***

In [30]:
# Top 5 orders by revenue
top_revenue_orders = data.sort_values(by="Amount", ascending=False).head(5)
print("Top 5 orders by revenue:")
print(top_revenue_orders[["Order ID", "Amount", "Profit"]])

# Top 5 orders by profit
top_profit_orders = data.sort_values(by="Profit", ascending=False).head(5)
print("\nTop 5 orders by profit:")
print(top_profit_orders[["Order ID", "Amount", "Profit"]])

Top 5 orders by revenue:
     Order ID  Amount  Profit
1     B-26055    5729      64
1499  B-25993    4363     305
1497  B-25973    4141    1698
12    B-25923    3873    -891
1496  B-25757    3151     -35

Top 5 orders by profit:
     Order ID  Amount  Profit
59    B-25608    1364    1864
1497  B-25973    4141    1698
32    B-26022    1824    1303
4     B-25602    2617    1151
1423  B-25601    1275    1148

---
### üì¶ **Product & Category Performance**

5. Which **categories** generate the most revenue and profit?
6. Which **sub-categories** are performing the best and worst?
7. What is the **average quantity** sold per category or sub-category?
8. Which sub-categories have **high sales but low profit**?

---

***5. Which **categories** generate the most revenue and profit?***

In [31]:
# Group by Category and sum Amount and Profit
category_summary = data.groupby("Category")[["Amount", "Profit"]].sum().sort_values(by="Amount", ascending=False)

print("Revenue and Profit by Category:")
print(category_summary)

Revenue and Profit by Category:
             Amount  Profit
Category
Electronics  166267   13162
Clothing     144323   13325
Furniture    127181   10476

***6. Which **sub-categories** are performing the best and worst?***

In [32]:
# Group by Sub-Category and sum Amount and Profit
subcat_summary = data.groupby("Sub-Category")[["Amount", "Profit"]].sum()

# Best performing (highest revenue & profit)
best_revenue = subcat_summary.sort_values(by="Amount", ascending=False).head(5)
best_profit = subcat_summary.sort_values(by="Profit", ascending=False).head(5)

# Worst performing (lowest revenue & profit)
worst_revenue = subcat_summary.sort_values(by="Amount", ascending=True).head(5)
worst_profit = subcat_summary.sort_values(by="Profit", ascending=True).head(5)

print("üîù Top 5 Sub-Categories by Revenue:\n", best_revenue)
print("\nüí∞ Top 5 Sub-Categories by Profit:\n", best_profit)
print("\nüîª Bottom 5 Sub-Categories by Revenue:\n", worst_revenue)
print("\nüìâ Bottom 5 Sub-Categories by Profit:\n", worst_profit)

üîù Top 5 Sub-Categories by Revenue:
                   Amount  Profit
Sub-Category
Printers           59252    8606
Saree              59094    4057
Bookcases          56861    6516
Phones             46119    1847
Electronic Games   39168    -644

üí∞ Top 5 Sub-Categories by Profit:
               Amount  Profit
Sub-Category
Printers       59252    8606
Bookcases      56861    6516
Saree          59094    4057
Accessories    21728    3353
Tables         22614    3139

üîª Bottom 5 Sub-Categories by Revenue:
               Amount  Profit
Sub-Category
Skirt           1946    -315
Leggings        2106    -130
Kurti           3361    -401
T-shirt         7382    1500
Shirt           7555    1513

üìâ Bottom 5 Sub-Categories by Profit:
                   Amount  Profit
Sub-Category
Furnishings        13484    -806
Electronic Games   39168    -644
Kurti               3361    -401
Skirt               1946    -315
Leggings            2106    -130

***7. What is the **average quantity** sold per category or sub-category?***

***8. Which sub-categories have **high sales but low profit**?***


---
### üí≥ **Payment Behavior**

9. What are the most used **payment modes**?
10. Is there a difference in **profit or quantity sold by payment method**?

---

***9. What are the most used **payment modes**?***

***10. Is there a difference in **profit or quantity sold by payment method**?***

---
### üîç **Order-level Analysis**

11. What is the **average order value** (AOV)?
12. How many total **orders** were placed?
13. What is the **distribution of profit and amount per order**?

---

***11. What is the **average order value** (AOV)?***

***12. How many total **orders** were placed?***

***13. What is the **distribution of profit and amount per order**?***